{% extends "base/layout.html" %}

{% block title %}Creative T-Shirt Trading Platform{% endblock %}

{% block main %}

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('index') }}">首頁</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('goods.GoodsView') }}">商品列表</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ goods.name }}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 text-center">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for i in range(0, image_num) %}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" class="{{'active' if i == 0 }}"></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for i in range(0, image_num) %}
          <div class="carousel-item {{ 'active' if i == 0 }}">
            <img class="d-block img-fluid" src="{{ goods.goods_image[i].image }}">
          </div>
          {% endfor %}
          
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <button class="btn btn-primary add-to-shopping-cart" data-goods-id='{{ goods.id }}' type="button">+加入購物車</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div style="margin-top: 1.5rem">
        <h3>{{ goods.name }}</h3>
        <p>由 <a href="/membership/{{ goods.author.id }}"></a>{{ goods.author.username }}</a> 設計</p>
        <p>尺寸: {{ goods.type.size }}</p>
        <p>價格: {{ goods.type.price }}</p>
        <p>&#9733; &#9733; &#9733; &#9733; &#9734;</p>
        <p style="white-space: pre-wrap;">{{ goods.description }}</p>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top: 2rem; margin-bottom: 1rem;">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Comments</h2>
                <section class="comment-list">
                    <!-- First Comment -->
                    {% for comment in comments %}
                   <article class="row comment">
                     <div class="col-md-2 col-sm-2 hidden-xs">
                        <h5 class="text-center comment-author">{{ comment.author.username }}:</h5>
                      </div>
                      <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                          <div class="panel-body">   
                            <div class="comment-post">
                              <h5> {{ comment.message }} </h5>
                              <p class="card-subtitle mb-2 text-muted text-right">
                                    {{ comment.time.strftime('%Y-%m-%d') }} {{ comment.time.strftime('%H:%M:%S') }}
                              </p>
                            </div>
                            <!-- <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> -->
                          </div>
                        </div>
                      </div>
                    </article>
                    {% endfor %}
                </section>
                {% if current_user != goods.author %}
                <div class="container">
                  <form method="POST">
                    <div class="form-group ">
                      <textarea class="form-control" name="comment" id="comment-area" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}