{% extends "base/layout.html" %} {% block title %}Creative T-Shirt Trading Platform{% endblock %} {% block main%}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div style="margin-top: 3rem; margin-bottom: 1rem;">
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="搜尋商品">
          <span class="input-group-addon">
            <button type="submit">
              <span class="glyphicon glyphicon-search aria-hidden="true""></span>
            </button>
          </span>
        </div>
      </div>
      <!-- /.imaginary_container -->
      <div class="list-group">
        <a href="?type=XXL&keyword={{ args.get('keyword', '') }}" class="list-group-item">XXL</a>
        <a href="?type=XL&keyword={{ args.get('keyword', '') }}" class="list-group-item">XL</a>
        <a href="?type=L&keyword={{ args.get('keyword', '') }}" class="list-group-item">L</a>
        <a href="?type=M&keyword={{ args.get('keyword', '') }}" class="list-group-item">M</a>
        <a href="?type=S&keyword={{ args.get('keyword', '') }}" class="list-group-item">S</a>
      </div>
      <!--<h1 class="my-4">Shop Name</h1>-->

    </div>
    <!-- /.col-sm-3 -->

    <div class="col-lg-9">

      <div class="row" style="margin-top: 3rem;">
        {% for goods in goods_list %}
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="{{ goods.image }}" alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{ goods.name }}</a>
              </h4>
              <a class="btn float-right add-to-cart" data-goods-id='{{ goods.id }}'></a>
              <h5>Size: {{ goods.type.size }}</h5>
              <h5>$ {{ goods.type.price }}</h5>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% macro pagnation(current_page, total_page, page_url) %}
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item {{'disabled' if current_page <= 1}}">
            <a class="page-link" href="{{ page_url.format(current_page - 1) }}" tabindex="-1">&laquo;</a>
          </li>
          <li class="page-item {{'active' if current_page == 1}}">
              <a class="page-link" href="{{ page_url.format(1) }}">1
                <span class="sr-only">(current)</span>
              </a>
          </li>
          {% if current_page >= 6 %}
          <span class="points">  . . .  </span>
          {% endif %}

          {% for i in range(current_page - 3, current_page + 4) %}
          {% if i >= 2 and i <= total_page %}
          <li class="page-item {{'active' if current_page == i}}">
            <a class="page-link" href="{{ page_url.format(i) }}">{{ i }}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          {% endif %}
          {% endfor%}
          <li class="page-item {{'disabled' if current_page >= total_page}}">
            <a class="page-link" href="{{ page_url.format(current_page + 1) }}">&raquo;</a>
          </li>
        </ul>
      </nav>
      {% endmacro %}
      {% set current_page = args.get('page', 1) | int %}
      {% set total_page = ((goods_total / 15)| int+1 ) | round | int %}
      {% set page_url = '?type={}&keyword={}'.format(args.get('type', ''), args.get('keyword', '')) + '&page={}' %}
      {{ pagnation(current_page, total_page, page_url) }}
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}