*{
  font-family: Gabriola;
}

body {
  padding-top: 45px;
}

h4{
  font-size: 26px;
}

h5{
  font-size: 23px;
}

p{
  font-size: 20px;
}
/*---------Shopping Cart Icon--------------*/
.add-to-cart, .card-title{
  display: inline-block;
}

.add-to-cart{
  background-image: url("../images/shopping_cart_add.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
}

/*--------Designer/Customer List*/
.well{
  margin-top: 25px;
  margin-left: 0px;
}

.dropdown{
  margin-top: 30px;
}

.nav-header{
  font-size: 24px;
  width: 190px;
  cursor: pointer;
  background-color: rgba(220, 226, 236, 0.712);
  border-radius: 5px;
  padding-left: 10px;
}

.nav-header:hover{
  transition-duration: 1s;
  color: rgb(22, 4, 39);
}

.tree > li{
  font-size: 18px;
  width: 320px;
  padding-left: 20px;
}

#imaginary_container{
  margin-top:30%;
}
.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

@media (min-width: 992px) {
  body {
    padding-top: 55px;
  }
}
